<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Savings /</span>Piggy bank
  </h4>
  <button class="btn btn-secondary create-new btn-primary" type="button">
    <span>
      <i class="bx bx-plus me-sm-1"></i>
      <span class="d-none d-sm-inline-block"
            data-bs-toggle="modal" data-bs-target="#createBank">Create Piggy bank</span>
    </span>
  </button>
</div>
<div class="row">
  <ng-template [ngIf]="chartsOptions.size==0">
    <div class="misc-wrapper flex-column d-flex justify-content-center">
      <h2 class="mb-2 mx-2 text-center">No Piggy Banks Found :(</h2>
      <p class="mb-4 mx-2 text-center">Oops! 🐽 It seems like you don't have any piggy banks.</p>
      <div class="mt-3 text-center">
        <img src="assets/img/backgrounds/empty.svg" alt="page-misc-error-light" width="500"
             class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
             data-app-light-img="illustrations/page-misc-error-light.png">
      </div>
    </div>
  </ng-template>
  <ng-container *ngFor="let bank of chartsOptions|keyvalue">
    <div class="col-md-4 col-xl-3  mb-4">
      <div class="card h-100 saving-container" [ngClass]="{'border border-success':bank.key['percent'] == 100}">
        <span class="badge bg-label-success top-left" *ngIf="bank.key.isClosed">DONE</span>
        <span class="badge bg-label-danger top-left" *ngIf="isExpired(bank.key)">Expired</span>
        <div class="card-header text-center">
          <small class="card-subtitle mb-2">Savings goal</small>
          <h4 class="card-title mb-0 mt-1">
            {{bank.key.bankName}}
          </h4>
        </div>
        <div class="card-body" style="position: relative;">
          <div style="text-align:center">
            <apx-chart
              [series]="bank.value.series"
              [chart]="bank.value.chart"
              [plotOptions]="bank.value.plotOptions"
              [stroke]="bank.value.stroke"
              [fill]="bank.value.fill">
            </apx-chart>
          </div>
          <div class="d-flex flex-column align-items-center mt-2">
            <small class="text-muted">Your goal is - <b>{{bank.key.goal}}₴</b></small>
            <small class="fw-semibold">Saving till {{bank.key.deadline|date:'dd.MM.y'}} </small>
            <div class="flex-row">
              <a href="javascript:void(0)" class="btn btn-sm btn-primary mt-2 me-2" role="button"
                 data-bs-toggle="modal" data-bs-target="#bankDetails"
                 (click)="openBankDetails(bank.key)">View details</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-success mt-2" role="button"
                 *ngIf="bank.key && bank.key.currentAmount != bank.key.goal"
                 data-bs-toggle="modal" data-bs-target="#transfer" (click)="openBankDetails(bank.key)">
                <i class="bx bx-transfer me-sm-1"></i>
                Transfer money
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</div>


<!--CREATE BANK MODAL-->
<div class="modal fade" id="createBank" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Create piggy bank</h5>
        <button (click)="resetForm()"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>
      <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="createBank(closeForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="name" class="form-label">Bank name</label>
              <input type="text" id="name" class="form-control" placeholder="Enter bank name"
                     formControlName="bankTitleControl"
                     [ngClass]="{'invalid': controls['bankTitleControl'].invalid && (form.submitted||controls['bankTitleControl'].touched)}"/>
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label class="form-label" for="emailSmall">Goal</label>
              <input type="number" class="form-control" id="emailSmall" placeholder="100₴" min="1"
                     formControlName="goalControl"
                     [ngClass]="{'invalid': controls['goalControl'].invalid && (form.submitted||controls['goalControl'].touched)}"/>
            </div>
            <div class="col mb-0">
              <label for="deadline" class="form-label">Deadline</label>
              <input id="deadline" type="text" class="form-control" placeholder="DD / MM / YY"
                     formControlName="deadlineControl"
                     [ngClass]="{'invalid': controls['deadlineControl'].invalid && (form.submitted||controls['deadlineControl'].touched)}"/>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button #closeForm type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                  (click)="resetForm()">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Create bank
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--BANK DETAILS-->
<div class="modal fade" id="bankDetails" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bank | <b>{{selectedBank?.bankName}}</b></h5>
        <button #closeDetails type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="col-12 fv-plugins-icon-container">
          <label class="form-label w-100">Goal progress</label>
          <div class="progress progress-height" *ngIf="selectedBank">
            <div class="progress-bar progress-height progress-bar-striped progress-bar-animated" role="progressbar"
                 [ngClass]="getProgressColor()"
                 [ngStyle]="{width:selectedBank['progress']+'%'}" [attr.aria-valuenow]="selectedBank['progress']"
                 aria-valuemin="0" aria-valuemax="100">
              {{selectedBank['progress']}}%
            </div>
          </div>
        </div>
        <div class="row g-2 my-3">
          <div class="col mb-0 mt-3">
            <label class="form-label" for="emailSmall">Goal</label>
            <input type="number" class="form-control" placeholder="100₴" min="1"
                   [readonly]="true"
                   [value]="selectedBank?.goal"/>
          </div>
          <div class="col mb-0 mt-3">
            <label class="form-label" for="emailSmall">Current</label>
            <input type="number" class="form-control" placeholder="100₴" min="1"
                   [readonly]="true"
                   [value]="selectedBank?.currentAmount"/>
          </div>
          <div class="col mb-0 mt-3">
            <label class="form-label" for="emailSmall">Left</label>
            <input type="number" class="form-control" placeholder="100₴" min="1"
                   [readonly]="true"
                   [value]="selectedBank?.goal-selectedBank?.currentAmount"/>
          </div>
          <div class="col mb-0 mt-3">
            <label class="form-label">Deadline</label>
            <input type="text" class="form-control" placeholder="DD / MM / YY"
                   [readonly]="true"
                   [value]="selectedBank?.deadline"/>
          </div>
        </div>

        <div class="col-12 fv-plugins-icon-container">
          <label class="form-label w-100">Trasactions</label>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Card</th>
                <th>Sum</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody class="table-border-bottom-0" *ngIf="selectedBank && selectedBank.transactions">
              <ng-template [ngIf]="selectedBank && selectedBank.transactions.length == 0">
                <tr>
                  <td colspan="5">
                    No transactions yet
                  </td>
                </tr>
              </ng-template>
              <ng-container *ngFor="let transaction of selectedBank.transactions">
                <tr>
                  <td>
                    <i class="fab fa-lg me-3" [ngClass]="[getCardType(transaction.cardDto)]"></i>
                    <strong>
                      {{transaction.cardDto.name}}
                    </strong>
                  </td>
                  <td>{{transaction.sum}}$</td>
                  <td>
                    {{transaction.created|date:"dd.MM.yy HH:MM"}}
                  </td>
                  <td>
                  <span class="badge bg-label-primary me-1">
                    COMPLETED
                  </span>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-paperclip"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
                *ngIf="selectedBank && selectedBank.currentAmount == selectedBank.goal && !selectedBank.isClosed"
                (click)="closeBank(closeDetails)">
          <i class="bx bx-transfer-alt me-sm-1"></i>
          Widthraw
        </button>
        <button type="submit" class="btn btn-success" role="button"
                data-bs-toggle="modal" data-bs-target="#transfer"
                *ngIf="selectedBank && selectedBank.currentAmount != selectedBank.goal">
          <i class="bx bx-transfer me-sm-1"></i>
          Transfer
        </button>
      </div>
    </div>
  </div>
</div>


<!--TRANSFER MONEY-->
<div class="modal fade" id="transfer" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="model3">Transfer money</h5>
        <button (click)="resetForm()"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>
      <form #formTopUo="ngForm" [formGroup]="topUpGroup" (ngSubmit)="topUpBank(closeTopUp)">
        <div class="modal-body">
          <div class="col-12 fv-plugins-icon-container mb-3">
            <label class="form-label w-100">Transfer sum</label>
            <input type="number" class="form-control" placeholder="{{allowedSum}}$" min="1" formControlName="sumControl"
                   [ngClass]="{'invalid': topUpControls['sumControl'].invalid && (formTopUo.submitted||topUpControls['sumControl'].touched)}"/>
          </div>
          <div class="col-12 fv-plugins-icon-container">
            <label class="form-label w-100">Card</label>
          </div>
          <div class="col-md mb-md-0 mb-2">
            <ng-container *ngFor="let card of cards; let i = index">
              <div class="form-check custom-option border border-primary rounded px-5 py-3 custom-option-icon checked"
                   [ngClass]="{'mb-3':i+1!=cards.length}">
                <label class="form-check-label custom-option-content d-flex justify-content-between align-items-center"
                       for="card{{i}}">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="me-0 d-flex justify-content-between align-items-center">
                      <input name="customRadioIcon" class="form-check-input" type="radio"
                             id="card{{i}}" (click)="selectTopUpCard(card)">
                      <div class="ms-3">
                        <div class="d-flex align-items-center mb-1 flex-wrap gap-2">
                          <h6 class="mb-0 me-2">{{card.name}}</h6>
                        </div>
                        <span class="card-number">∗∗∗∗ ∗∗∗∗ {{card.number.slice(-4)}}</span>
                      </div>
                    </div>
                  </div>
                  <img class="mb-0 ms-3 img-fluid" src="assets/img/icons/brands/{{card.type}}.png"
                       alt="{{card.type}}">
                </label>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeTopUp type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                  (click)="resetTopUp()">
            Close
          </button>
          <button type="submit" class="btn btn-success">
            Transafer
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
