<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Savings /</span>Piggy bank
  </h4>
  <button class="btn btn-secondary create-new btn-primary" type="button">
    <span>
      <i class="bx bx-plus me-sm-1"></i>
      <span class="d-none d-sm-inline-block"
            data-bs-toggle="modal" data-bs-target="#createBank">Create Piggy bank</span>
    </span>
  </button>
</div>
<div class="row">
  <ng-template [ngIf]="chartsOptions.size==0">
    <div class="misc-wrapper flex-column d-flex justify-content-center">
      <h2 class="mb-2 mx-2 text-center">No Piggy Banks Found :(</h2>
      <p class="mb-4 mx-2 text-center">Oops! 🐽 It seems like you don't have any piggy banks.</p>
      <div class="mt-3 text-center">
        <img src="assets/img/backgrounds/empty.svg" alt="page-misc-error-light" width="500"
             class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
             data-app-light-img="illustrations/page-misc-error-light.png">
      </div>
    </div>
  </ng-template>
  <ng-container *ngFor="let bank of chartsOptions|keyvalue">
    <div class="col-md-4 col-xl-3  mb-4">
      <div class="card h-100" [ngClass]="{'border border-success':bank.key['percent'] == 100}">
        <div class="card-header text-center">
          <small class="card-subtitle mb-2">Savings goal</small>
          <h4 class="card-title mb-0 mt-1">
            {{bank.key.bankName}}
          </h4>
        </div>
        <div class="card-body" style="position: relative;">
          <div style="text-align:center">
            <apx-chart
              [series]="bank.value.series"
              [chart]="bank.value.chart"
              [plotOptions]="bank.value.plotOptions"
              [stroke]="bank.value.stroke"
              [fill]="bank.value.fill">
            </apx-chart>
          </div>
          <div class="d-flex flex-column align-items-center mt-2">
            <small class="text-muted">Your goal is - <b>{{bank.key.goal}}₴</b></small>
            <small class="fw-semibold">Saving till {{bank.key.deadline|date:'dd.MM.y'}} </small>
            <a href="javascript:void(0)" class="btn btn-sm btn-primary mt-2" role="button"
               data-bs-toggle="modal" data-bs-target="#bankDetails"
               (click)="openBankDetails(bank.key)">View details</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


<!--CREATE BANK MODAL-->
<div class="modal fade" id="createBank" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Create piggy bank</h5>
        <button (click)="resetForm()"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>
      <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="createBank(closeForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="name" class="form-label">Bank name</label>
              <input type="text" id="name" class="form-control" placeholder="Enter bank name"
                     formControlName="bankTitleControl"
                     [ngClass]="{'invalid': controls['bankTitleControl'].invalid && (form.submitted||controls['bankTitleControl'].touched)}"/>
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label class="form-label" for="emailSmall">Goal</label>
              <input type="number" class="form-control" id="emailSmall" placeholder="100₴" min="1"
                     formControlName="goalControl"
                     [ngClass]="{'invalid': controls['goalControl'].invalid && (form.submitted||controls['goalControl'].touched)}"/>
            </div>
            <div class="col mb-0">
              <label for="deadline" class="form-label">Deadline</label>
              <input id="deadline" type="text" class="form-control" placeholder="DD / MM / YY"
                     formControlName="deadlineControl"
                     [ngClass]="{'invalid': controls['deadlineControl'].invalid && (form.submitted||controls['deadlineControl'].touched)}"/>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button #closeForm type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                  (click)="resetForm()">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Create bank
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--BANK DETAILS-->


<div class="modal fade" id="bankDetails" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bank | <b>{{selectedBank?.bankName}}</b></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="col-12 fv-plugins-icon-container">
          <label class="form-label w-100">Goal progress</label>
          <div class="progress progress-height" *ngIf="selectedBank">
            <div class="progress-bar progress-height progress-bar-striped progress-bar-animated" role="progressbar"
                 [ngClass]="getProgressColor()"
                 [ngStyle]="{width:selectedBank['progress']+'%'}" [attr.aria-valuenow]="selectedBank['progress']"
                 aria-valuemin="0" aria-valuemax="100">
              {{selectedBank['progress']}}%
            </div>
          </div>
        </div>
        <div class="row g-2 my-3">
          <div class="col mb-0 mt-3">
            <label class="form-label" for="emailSmall">Goal</label>
            <input type="number" class="form-control" placeholder="100₴" min="1"
                   [readonly]="true"
                   [value]="selectedBank?.goal"/>
          </div>
          <div class="col mb-0 mt-3">
            <label class="form-label" for="emailSmall">Current</label>
            <input type="number" class="form-control" placeholder="100₴" min="1"
                   [readonly]="true"
                   [value]="selectedBank?.currentAmount"/>
          </div>
          <div class="col mb-0 mt-3">
            <label class="form-label">Deadline</label>
            <input type="text" class="form-control" placeholder="DD / MM / YY"
                   [readonly]="true"
                   [value]="selectedBank?.deadline"/>
          </div>
        </div>

        <div class="col-12 fv-plugins-icon-container">
          <label class="form-label w-100">Trasactions</label>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Card</th>
                <th>Sum</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              <tr>
                <td>
                  <i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>Angular Project</strong>
                </td>
                <td>Albert Cook</td>
                <td>
                  <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                        class="avatar avatar-xs pull-up" aria-label="Lilian Fuller"
                        data-bs-original-title="Lilian Fuller">
                      <img src="../../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                    </li>
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                        class="avatar avatar-xs pull-up" aria-label="Sophia Wilkerson"
                        data-bs-original-title="Sophia Wilkerson">
                      <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                    </li>
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                        class="avatar avatar-xs pull-up" aria-label="Christina Parker"
                        data-bs-original-title="Christina Parker">
                      <img src="../../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                    </li>
                  </ul>
                </td>
                <td><span class="badge bg-label-primary me-1">Active</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                      class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger">
          <i class="bx bx-archive me-sm-1"></i>
          Archive bank
        </button>
        <button type="submit" class="btn btn-primary">
          Complete bank
        </button>
      </div>
    </div>
  </div>
</div>
