<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Budget</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{budget}}$</h2>
              </div>
            </div>
            <span class="badge bg-label-primary rounded p-2">
            <i class="bx bx-dollar bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Expenses</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{totalExpenses}}$</h2>
                <small class="text-success">({{(this.totalExpenses/this.budget)*100}}%)</small>
              </div>
            </div>
            <span class="badge bg-label-danger rounded p-2">
            <i class="bx bx-dollar-circle bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Left</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{budget-totalExpenses}}$</h2>
              </div>
            </div>
            <span class="badge bg-label-success rounded p-2">
            <i class="bx bx-happy bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Days left</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">12</h2>
              </div>
            </div>
            <span class="badge bg-label-primary rounded p-2">
            <i class="bx bx-alarm bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col" id="pieChart" style="display: flex;margin-top: 1rem; margin-bottom: 1rem; max-width:480px;margin-right:20px">
              <apx-chart
                [series]="pieChartOptions.series"
                [chart]="pieChartOptions.chart"
                [labels]="pieChartOptions.labels"
                [responsive]="pieChartOptions.responsive"
              ></apx-chart>
            </div>
            <div class="col" id="barChart" style="margin-top: 1rem; margin-bottom: 1rem; max-width:480px;margin-right:20px">
              <apx-chart
                [series]="barChartOptions.series"
                [chart]="barChartOptions.chart"
                [dataLabels]="barChartOptions.dataLabels"
                [plotOptions]="barChartOptions.plotOptions"
                [xaxis]="barChartOptions.xaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>



  <!-- Users List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title">Search Filter</h5>
      <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
        <div class="col-md-4 user_role">
          <select id="UserRole" class="form-select text-capitalize" [(ngModel)]="selectedCategory" (change)="categoryFilterSelected(selectedCategory)">
            <option value="None"> Select category </option>
            <option value="{{category.name}}"*ngFor="let category of categories">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive" style="overflow-x: hidden">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <div class="row mx-2">
          <div class="col-md-10">
            <div class="me-3">
              <div class="dataTables_length" id="DataTables_Table_0_length">
                <!--<label>
                  <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>-->
                <div class="dt-buttons btn-group flex-wrap">
                  <button class="btn btn-secondary add-new btn-primary mx-3" style="margin-bottom: 1rem;margin-top: 1rem;" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                  <span>
                    <i class="bx bx-plus me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block ">Add new expense</span>
                  </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
              <!--<div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0">
                </label>
              </div>-->

            </div>
          </div>
        </div>
        <table class="datatables-users table border-top dataTable no-footer dtr-column collapsed"
               id="DataTables_Table_0"
               aria-describedby="DataTables_Table_0_info">
        <thead>
        <tr>
          <th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label=""></th>
          <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 201px;" aria-label="User: activate to sort column ascending" aria-sort="descending">Name</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 147px;" aria-label="Role: activate to sort column ascending">Category</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 183px;" aria-label="Billing: activate to sort column ascending">Amount</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 183px;" aria-label="Billing: activate to sort column ascending">date</th>
        </tr>
        </thead>
          <tbody>
            <tr class="odd" *ngFor="let expense of expensesView">
              <td class="control" tabindex="0" style=""></td>
              <td class="sorting_1">
                {{expense.name}}
              </td>
              <td>
              <span class="text-truncate d-flex align-items-center">
                <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                  <i [ngClass]="expense.category.icon"></i>
                </span>
                {{expense.category.name}}
              </span>
              </td>
              <td>
                <span class="fw-semibold">{{expense.amount}}$</span>
              </td>
              <td>{{expense.date}}</td>
              <td class="dtr-hidden" style="display: none;">
                <span class="badge bg-label-success">{{expense.date}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- Offcanvas to add new user -->
    <div  class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Expense</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0">
        <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework"
              id="addNewUserForm"
              [formGroup]="expenseFormGroup"
              (ngSubmit)="saveExpense()">
          <div class="mb-3 fv-plugins-icon-container">
            <label class="form-label"
                   for="add-transaction-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="add-transaction-name"
                   placeholder="Shopping"
                   name="name"
                   aria-label="John Doe"
                   formControlName="name">
            <div class="fv-plugins-message-container invalid-feedback"></div></div>
          <div class="mb-3 fv-plugins-icon-container">
            <label class="form-label" for="addAmount">Amount</label>
            <input type="text"
                   class="form-control"
                   placeholder="100"
                   aria-label="john.doe@example.com"
                   name="amount"
                   id="addAmount"
                   formControlName="amount">
            <div class="fv-plugins-message-container invalid-feedback"></div></div>
          <div class="mb-3">
            <label class="form-label" for="add-user-contact">Date</label>
            <input type="date"
                   id="add-user-contact"
                   class="form-control phone-mask"
                   aria-label="john.doe@example.com"
                   name="date"
                   formControlName="date">
          </div>
          <div class="mb-3">
            <label class="form-label" for="country">Category</label>
            <div class="position-relative">
              <select id="country"
                      class="select2 form-select select2-hidden-accessible"
                      data-select2-id="country"
                      tabindex="-1"
                      aria-hidden="true"
                      formControlName="categoryName">
              <option value="" data-select2-id="2">Select</option>
              <option value="{{category.name}}"*ngFor="let category of categories">{{category.name}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" style="margin-top: 1rem" [disabled]="!this.expenseFormGroup.valid">Submit</button>
          <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas"  >Cancel</button>
            <input type="hidden"></div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
