<ng-template [ngIf]="budget">
  <div class="row g-4 mb-4 p-0">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Budget</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{budget.budget}}$</h2>
                <!--              <h2 class="mb-0 me-2">{{budget}}$</h2>-->
              </div>
            </div>
            <span class="badge bg-label-primary rounded p-2">
            <i class="bx bx-dollar bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Expenses</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{totalExpenses}}$</h2>
                <small class="text-success">({{(this.totalExpenses / this.budget.budget) * 100}}%)</small>
                <!--              <small class="text-success">({{(this.totalExpenses / this.budget) * 100}}%)</small>-->
              </div>
            </div>
            <span class="badge bg-label-danger rounded p-2">
            <i class="bx bx-dollar-circle bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Left</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{budget.budget - totalExpenses}}$</h2>
                <!--              <h2 class="mb-0 me-2">{{budget - totalExpenses}}$</h2>-->
              </div>
            </div>
            <span class="badge bg-label-success rounded p-2">
            <i class="bx bx-happy bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <h5>Days left</h5>
              <div class="d-flex align-items-end mt-2">
                <h2 class="mb-0 me-2">{{calculateDaysBetweenDeadlineAndToday(budget.deadline)}}</h2>
                <!--              <h2 class="mb-0 me-2">12</h2>-->
              </div>
            </div>
            <span class="badge bg-label-primary rounded p-2">
            <i class="bx bx-alarm bx-sm"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="mb-0">Spends by categories</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <apx-chart
            [series]="pieChartOptions.series"
            [chart]="pieChartOptions.chart"
            [labels]="pieChartOptions.labels"
            [responsive]="pieChartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="mb-0">TOP-5 categories</h5>
        </div>
        <div class="card-body">
          <apx-chart
            [series]="barChartOptions.series"
            [chart]="barChartOptions.chart"
            [dataLabels]="barChartOptions.dataLabels"
            [plotOptions]="barChartOptions.plotOptions"
            [xaxis]="barChartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="card p-0">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="col-md-3">
              <h5 class="mb-0">
                Budget transactions
              </h5>
            </div>
            <div class="col-md-9">
              <div class="d-flex justify-content-end align-items-center">
                <div class="col-auto d-flex justify-content-end align-items-center">
                  <select id="UserRole" class="form-select text-capitalize me-3" [(ngModel)]="selectedCategory"
                          (change)="categoryFilterSelected(selectedCategory)">
                    <option value="None"> Select category</option>
                    <option value="{{category.name}}" *ngFor="let category of categories">{{category.name}}</option>
                  </select>
                </div>
                <div class="col-auto d-flex justify-content-end align-items-center">
                  <button class="btn btn-primary" tabindex="0" type="button" data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasAddUser">
                    <i class="bx bx-plus me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block ">Add new expense</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive text-nowrap">
          <table class="table"
                 id="DataTables_Table_0"
                 aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr>
              <th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label=""></th>
              <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                  style="width: 201px;" aria-label="User: activate to sort column ascending" aria-sort="descending">Card
                <!--                style="width: 201px;" aria-label="User: activate to sort column ascending" aria-sort="descending">Name-->
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                  style="width: 147px;" aria-label="Role: activate to sort column ascending">Category
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                  style="width: 183px;" aria-label="Billing: activate to sort column ascending">Amount
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                  style="width: 183px;" aria-label="Billing: activate to sort column ascending">date
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd" *ngFor="let expense of expensesView">
              <td class="control" tabindex="0" style=""></td>
              <td class="sorting_1">
                <i class="fab fa-lg me-3" [ngClass]="[getCardType(expense.cardDto)]"></i>
                <strong>
                  {{expense.cardDto.holderName}}
                </strong>
                <!--              {{expense.name}}-->
              </td>
              <td>
              <span class="text-truncate d-flex align-items-center">
                <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                  <i [ngClass]="expense.category.icon"></i>
                </span>
                {{expense.category.name}}
              </span>
              </td>
              <td>
                <span class="fw-semibold">{{expense.sum}}$</span>
              </td>
              <td>{{expense.created}}</td>
              <td class="dtr-hidden" style="display: none;">
                <span class="badge bg-label-success">{{expense.created}}</span>
                <span class="fw-semibold">{{expense.sum}}$</span>
              </td>
              <!--            <td>{{expense.date}}</td>-->
              <!--            <td class="dtr-hidden" style="display: none;">-->
              <!--              <span class="badge bg-label-success">{{expense.date}}</span>-->
              <!--            </td>-->
            </tr>
            </tbody>
          </table>
        </div>


        <div class="card-footer">
          <div class="d-flex justify-content-end align-items-center">
            <label class="me-2">
              <select class="form-select">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
            <nav aria-label="Page navigation">
              <ul class="pagination mb-0 d-flex justify-content-end">
                <li class="page-item first">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                </li>
                <li class="page-item prev">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">5</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                </li>
                <li class="page-item last">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser"
     aria-labelledby="offcanvasAddUserLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Expense</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-0 flex-grow-0">
    <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework"
          id="addNewUserForm"
          [formGroup]="expenseFormGroup"
          (ngSubmit)="saveExpense()">
      <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label"
               for="add-transaction-name">Name</label>
        <input type="text"
               class="form-control"
               id="add-transaction-name"
               placeholder="Shopping"
               name="name"
               aria-label="John Doe"
               formControlName="name">
        <div class="fv-plugins-message-container invalid-feedback"></div>
      </div>
      <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label" for="addAmount">Amount</label>
        <input type="text"
               class="form-control"
               placeholder="100"
               aria-label="john.doe@example.com"
               name="amount"
               id="addAmount"
               formControlName="amount">
        <div class="fv-plugins-message-container invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="card">Card</label>
        <select id="card"
                class="select2 form-select select2-hidden-accessible"
                data-select2-id="card"
                tabindex="-1"
                aria-hidden="true"
                formControlName="card">
          <option value="" data-select2-id="2">Select</option>
          <option value="{{card.cardId}}" *ngFor="let card of cards">{{card.type}} {{card.number}}</option>
        </select>
        <!--        <label class="form-label" for="add-user-contact">Date</label>-->
        <!--        <input type="date"-->
        <!--               id="add-user-contact"-->
        <!--               class="form-control phone-mask"-->
        <!--               aria-label="john.doe@example.com"-->
        <!--               name="date"-->
        <!--               formControlName="date">-->
      </div>
      <div class="mb-3">
        <label class="form-label" for="country">Category</label>
        <div class="position-relative">
          <select id="country"
                  class="select2 form-select select2-hidden-accessible"
                  data-select2-id="country"
                  tabindex="-1"
                  aria-hidden="true"
                  formControlName="categoryName">
            <option value="" data-select2-id="2">Select</option>
            <option value="{{category.categoryId}}" *ngFor="let category of categories">{{category.name}}</option>
            <!--            <option value="{{category.name}}" *ngFor="let category of categories">{{category.name}}</option>-->
          </select>
        </div>
        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" style="margin-top: 1rem"
                [disabled]="!this.expenseFormGroup.valid">Submit
        </button>
        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        <input type="hidden"></div>
    </form>
  </div>
</div>
