<div class="card mb-4">
  <h5 class="card-header">Profile Details</h5>
  <!-- Account -->
  <div class="card-body">
    <div class="d-flex align-items-start align-items-sm-center gap-4" *ngIf="userDto">
      <app-img-box [src]="userDto.avatarId"></app-img-box>
      <div class="button-wrapper">
        <label class="btn btn-primary me-2 mb-4" tabindex="0" data-bs-toggle="modal" data-bs-target="#backDropModal">
          <span class="d-none d-sm-block">Upload new photo</span>
          <i class="bx bx-upload d-block d-sm-none"></i>
        </label>
        <label class="btn btn-primary me-2 mb-4" tabindex="0" data-bs-toggle="modal"
               data-bs-target="#selectAvatarModal">
          <span class="d-none d-sm-block">Select avatar</span>
          <i class="bx bx-upload d-block d-sm-none"></i>
        </label>
        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
          <i class="bx bx-reset d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Reset</span>
        </button>
        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
      </div>
    </div>
  </div>
  <hr class="my-0"/>
  <div class="card-body">
    <form id="formAccountSettings" method="POST" onsubmit="return false">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="firstName" class="form-label">First Name</label>
          <input
            class="form-control"
            type="text"
            id="firstName"
            name="firstName"
            value="John"
            autofocus
          />
        </div>
        <div class="mb-3 col-md-6">
          <label for="lastName" class="form-label">Last Name</label>
          <input class="form-control" type="text" name="lastName" id="lastName" value="Doe"/>
        </div>
        <div class="mb-3 col-md-6">
          <label for="email" class="form-label">E-mail</label>
          <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            value="john.doe@example.com"
            placeholder="john.doe@example.com"
          />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="phoneNumber">Phone Number</label>
          <div class="input-group input-group-merge">
            <span class="input-group-text">UA (+380)</span>
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              class="form-control"
              placeholder="68 256-33-67"
            />
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="currency" class="form-label">Currency</label>
          <select id="currency" class="select2 form-select">
            <option value="">Select Currency</option>
            <option value="usd">USD</option>
            <option value="euro">Euro</option>
            <option value="pound">Pound</option>
            <option value="bitcoin">Bitcoin</option>
          </select>
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary me-2">Save changes</button>
        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
      </div>
    </form>
  </div>
  <!-- /Account -->
</div>


<div class="card">
  <h5 class="card-header">Deactivate Account</h5>
  <div class="card-body">
    <form id="formAccountDeactivation" onsubmit="return false">
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          name="accountActivation"
          id="accountActivation"
        />
        <label class="form-check-label" for="accountActivation"
        >I confirm my account deactivation</label
        >
      </div>
      <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
    </form>
  </div>
</div>


<!-- AVATAR MODAL -->
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
  <input #file type="file" class="invisible" accept="image/*" (change)="fileChangeEvent($event)"/>
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Upload avatar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-template [ngIf]="imageChangedEvent==''">
          <form class="dropzone p-5" id="dropzone-basic" (click)="file.click()">
            <div class="h5 mb-0 text-center">
              Drop files here or click to upload
            </div>
          </form>
        </ng-template>
        <ng-template [ngIf]="imageChangedEvent!=''">
          <div class="flex-column d-flex justify-content-center align-items-center">
            <img [src]="croppedImage"
                 alt="user-avatar"
                 class="d-block rounded border border-primary"
                 height="100"
                 width="100"/>
            <image-cropper
              format="png"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 4"
              [resizeToWidth]="100"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="clearImage()" *ngIf="imageChangedEvent!=''">
          Change <i class="bx bx-trash"></i>
        </button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="selectAvatarModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sad">Select avatar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ng-container *ngFor="let avatar of files">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4 d-flex justify-content-center align-items-center">
              <div class="avatar  avatar-xl hoverable" (click)="changeAvatar(avatar.fileId)" data-bs-dismiss="modal">
                <img [src]="avatar.url" alt="Avatar" class="rounded-circle">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
