<div class="col-xl-12">
  <div class="tab-content py-0">
    <div class="tab-pane fade show active" id="payment" role="tabpanel">
      <div class="d-flex mb-3 gap-3">
        <div>
          <h2 class="mb-0">
            <span class="align-middle">Frequently asked questions</span>
          </h2>
        </div>
      </div>
      <div id="accordionPayment" class="accordion">
        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true"
                    data-bs-target="#accordionPayment-1" aria-controls="accordionPayment-1">
              Is my financial data secure in the Budget Mate application?
            </button>
          </h2>

          <div id="accordionPayment-1" class="accordion-collapse collapse show">
            <div class="accordion-body">
              Ensuring the security of your financial data is of utmost importance to us. Our budget management
              application employs state-of-the-art security measures to safeguard your information. We understand the
              sensitivity of financial data and have implemented robust encryption protocols to protect it from
              unauthorized access. Additionally, our application adheres to industry best practices and complies with
              relevant data protection regulations.
            </div>
          </div>
        </div>

        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-2" aria-controls="accordionPayment-2">
              Does Budget Mate support different types of expenses, such as fixed expenses and variable expenses?
            </button>
          </h2>
          <div id="accordionPayment-2" class="accordion-collapse collapse">
            <div class="accordion-body">
              With our application, you have the flexibility to create and track different categories of expenses based
              on your needs. Whether it's your monthly rent, utility bills, or loan payments—considered as fixed
              expenses—or discretionary spending like groceries, entertainment, and dining out—classified as variable
              expenses—you can easily categorize and track them within the application.
            </div>
          </div>
        </div>

        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-3" aria-controls="accordionPayment-3">
              Is the application suitable for mobile devices?
            </button>
          </h2>
          <div id="accordionPayment-3" class="accordion-collapse collapse">
            <div class="accordion-body">
              Budget Mate is specifically designed to be cross-platform and fully compatible with mobile devices. We
              understand the importance of convenience and accessibility in managing your budget, which is why we have
              optimized our application to provide a seamless experience across various mobile platforms.
            </div>
          </div>
        </div>

        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-4" aria-controls="accordionPayment-4">
              Can I export data from the application
            </button>
          </h2>
          <div id="accordionPayment-4" class="accordion-collapse collapse">
            <div class="accordion-body">
              Exporting data is a powerful feature that we offer as part of our premium subscription. We understand that
              having the ability to analyze your financial data and generate comprehensive reports is crucial for making
              informed financial decisions.

              With our premium subscription, you gain access to advanced reporting tools within the application. You can
              generate detailed reports that provide insights into your spending habits, budget progress, and overall
              financial health. These reports may include visualizations, graphs, and charts that make it easier for you
              to understand and interpret your financial data.
            </div>
          </div>
        </div>

        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-5" aria-controls="accordionPayment-5">
              Can I set up reminders or notifications for upcoming bills or financial goals?
            </button>
          </h2>
          <div id="accordionPayment-5" class="accordion-collapse collapse">
            <div class="accordion-body">
              Setting up reminders or notifications for upcoming bills and financial goals is a premium feature
              available in our budget management application. We understand the importance of staying on top of your
              financial obligations and objectives, which is why we offer this enhanced functionality as part of our
              premium subscription.
            </div>
          </div>
        </div>

        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-6" aria-controls="accordionPayment-6">
              Can I sync the application with other financial management tools or software?
            </button>
          </h2>
          <div id="accordionPayment-6" class="accordion-collapse collapse">
            <div class="accordion-body">
              Currently, we are actively working on developing the capability to sync our budget management application
              with other financial management tools and software. We understand the importance of integrating seamlessly
              with existing financial ecosystems and providing a holistic solution for our users.
            </div>
          </div>
        </div>
        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-7" aria-controls="accordionPayment-7">
              Does the application provide insights or analytics about my spending habits?
            </button>
          </h2>
          <div id="accordionPayment-7" class="accordion-collapse collapse">
            <div class="accordion-body">
              Our team is dedicated to creating a robust analytics module that will offer valuable insights into your
              spending habits. This feature will analyze your transaction data and generate visualizations, charts, and
              reports that will help you visualize and comprehend your spending patterns. You'll be able to identify
              trends, categorize expenses, and gain a comprehensive overview of your financial habits.
            </div>
          </div>
        </div>
        <div class="card accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionPayment-8" aria-controls="accordionPayment-8">
              Does the application support multiple currencies for international users?
            </button>
          </h2>
          <div id="accordionPayment-8" class="accordion-collapse collapse">
            <div class="accordion-body">
              We are pleased to share that we have plans to develop a feature that supports multiple currencies within
              our budget management application. We understand that our user base extends across different countries and
              regions, and we recognize the importance of accommodating diverse currency needs.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


