<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Profile /</span>Billing details
  </h4>
</div>
<div class="container p-0">
  <div class="row">
    <div class="col-xl-8">
      <div class="container p-0">
        <div class='row mb-3'>
          <div class="col-6">
            <div class="card bg-primary text-white mb-3">
              <div class="card-header d-flex justify-content-between align-items-center">
                Current plan <span class="badge bg-label-warning">BASIC</span>
              </div>
              <div class="card-body">
                <h1 class="card-title text-white">300$</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text mb-0">
                    Due date: 23.04.2024
                  </p>
                  <div class="mb-0">
                    <a routerLink="/pricing" class="btn btn-secondary">Change plan</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card bg-secondary text-white mb-3">
              <div class="card-header">Next payment</div>
              <div class="card-body">
                <h1 class="card-title text-white">300$</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text mb-0">
                    Due date: 23.04.2024
                  </p>
                  <div class="mb-0">
                    <a href="#" class="btn btn-primary">Manage payments</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row mb-5'>
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Invoice code</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Payment method</th>
                      <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let invoice of invoices">
                      <td><strong>{{invoice.code}}</strong></td>
                      <td>{{invoice.invoiceDate}}</td>
                      <td><strong>{{invoice.amount}}$</strong></td>
                      <td><span class="{{this.statusesAndClasses[invoice.status]}}">{{invoice.status}}</span></td>
                      <td>
                        {{invoice.paymentMethod}}
                      </td>
                      <td>
                        <div class="dropdown">
                          <button type="button"
                                  class="btn p-0 dropdown-toggle hide-arrow"
                                  routerLink="/invoice/{{invoice.code}}">
                            <i class="bx bx-paperclip"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div *ngFor="let card of cards" class="cardMaster bg-lighter rounded-2 p-3 mb-4">
        <div class="d-flex justify-content-between flex-sm-row flex-column">
          <div class="card-information me-2">
            <img class="mb-3 img-fluid" src="assets/img/icons/brands/{{card.type}}.png" alt="Master Card">
            <div class="d-flex align-items-center mb-1 flex-wrap gap-2">
              <h6 class="mb-0 me-2">{{card.ownerName}}</h6>
              <span *ngIf="card.isPrimary" class="badge bg-label-primary">Primary</span>
            </div>
            <span class="card-number">∗∗∗∗ ∗∗∗∗ {{card.number.slice(-4)}}</span>
          </div>
          <div class="d-flex flex-column text-start text-sm-end">
            <div class="d-flex order-sm-0 order-1 mt-sm-0 mt-3">
              <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#editCCModal">Edit</button>
              <button class="btn btn-secondary">
                Delete
              </button>
            </div>
            <small class="mt-sm-auto mt-2 order-sm-1 order-0">Card expires at {{card.expiration}}</small>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="d-grid gap-2 col-lg-12 mx-auto">
          <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
                  data-bs-target="#backDropModal">
            Add new card
            <i class="bx bx-plus ms-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal add card -->
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" #f="ngForm" [formGroup]="cardFormGroup" (ngSubmit)="saveCard()">
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Add credit card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeCardModal()"></button>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 mb-3">
              <label class="form-label w-100" for="modalAddCard">Card Number</label>
              <div class="input-group input-group-merge has-validation">
                <input id="modalAddCard"
                       name="modalAddCard"
                       class="form-control credit-card-mask"
                       type="text"
                       placeholder="1356 3215 6548 7898"
                       aria-describedby="modalAddCard2"
                       formControlName="number">
                <!--this shnyaga supposedly shows card type after inputting first several digits-->
                <!--<span class="input-group-text cursor-pointer p-1" id="modalAddCard2"><span
                  class="card-type"></span></span>-->
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="row g-3">
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalAddCardName" >Name</label>
              <input type="text"
                     id="modalAddCardName"
                     class="form-control"
                     placeholder="Boris Johnson"
                     formControlName="ownerName">
            </div>
            <div class="col-6 col-md-3">
              <label class="form-label" for="modalAddCardExpiryDate">Exp. Date</label>
              <input type="text"
                     id="modalAddCardExpiryDate"
                     class="form-control expiry-date-mask"
                     placeholder="MM/YY"
                     formControlName="expiration">
            </div>
            <div class="col-6 col-md-3">
              <label class="form-label" for="modalAddCardCvv">CVV Code</label>
              <div class="input-group input-group-merge">
                <input type="text" id="modalAddCardCvv"
                       class="form-control cvv-code-mask"
                       maxlength="3"
                       placeholder="654"
                       formControlName="cvv">
                <span class="input-group-text cursor-pointer" id="modalAddCardCvv2"><i
                  class="bx bx-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top"
                  aria-label="Card Verification Value" data-bs-original-title="Card Verification Value"></i></span>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" (click)="closeCardModal()">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!this.cardFormGroup.valid">Save</button>
      </div>
    </form>
  </div>
</div>
